# Configuración de MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=miaumiau_db
MYSQL_USER=miaumiau_user
MYSQL_PASSWORD=miaumiau_password
MYSQL_PORT=3306

# Configuración de WhatsApp
WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=
